html, body {
  height: 100%;
  background: #272727;
}

._navigation {
  width: 100%;
  height: 4%;
  background: #002800;
}

._main {
  margin-top: 50px;
}

.select-match {
  height: 70%;
  background: gray;
  color: whitesmoke;
}

.team {
  background: #9f6047;
}

.upcoming {
  color: whitesmoke;
}

.bar {
  fill: steelblue;
}

.upcoming-match {
  border: 1px solid white;
}

.select-match {
  position: relative;
}

.selected-match-right {
  /*position: absolute;*/
  right: 0;
}

.selected-match-left {
  /*position: absolute;*/
  left: 0;
}

.all-avatars {
  /*position: absolute;*/
  width: 80%;
  height: 30%;
  float: left;
}

.avatar-container-right {
  width: 20%;
  float: right;
}

.avatar-container-left {
  width: 20%;
  float: right;
  border: 1px solid white;
}

.player-info {
  width: 100%;
}

.team-logo-container-right {
  float: left;
  width: 18%;
  margin-right: 20px;
  border: 1px solid white;
}

.team-logo-container-left {
  float: right;
  width: 18%;
}

.player-avatar {
  border: 1px solid white;
}

.team-logo {
  width: 100%;
}

.history-between {
  border: 1px solid green;
  margin-left: 10px;
  margin-right: 10px;
  float: left;
  position: relative;
}

.match-info-match-history {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}